<h1> Signup page</h1>

<%= form_with model: @user, url: signup_path do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |err| %>%
        <div> <%= err %></div>       
      <% end %>
    </div>
  <%end %>

  <div class="mb-3 row">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="mb-3 row">
    <%= f.label :email, "email" %>
    <%= f.text_field :email, class: "form-control"  %>
  </div>
  <div class="mb-3 row">
    <%= f.label :password, "password" %>
    <%= f.password_field :password, class: "form-control"  %>
  </div>
  <div class="mb-3 row">
    <%= f.label :password_confirmation, "password_confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control"  %>
  </div>
  <div class="mb-3 row">
    <%= f.submit "Submit"%>
  </div>
<% end %>
