<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Navbar", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bishasha", root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Current.user %>
          <li class='nav-link'>
            <span class='nav-link'>
              <%= link_to Current.user.email, edit_password_path, class: 'nav-link' %>
            </span>
          </li>
          <li class='nav-link'>
            <%= button_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
          </li>
          <% else %>
          <li class='nav-link'>
            <%= link_to 'signup', signup_path, class: 'nav-link' %>
          </li>
          <li class='nav-link'>
            <%= link_to 'login', signin_path, class: 'nav-link' %>
          </li>
        
        <% end %>
        
      </ul>
     
    </div>
  </div>
</nav>